* {
    margin: 0;
}

.fa-envelope {
    color: orangered;
    padding-right: 30px;
    font-size: 20px;
}

.fa-map {
    color: orangered;
    padding-right: 30px;
    font-size: 20px;
}

.topbartext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
.info {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #7a7a7a;
    display: flex;
    align-items: center;
    gap: 20px;
}

.vline {
    border: 1px solid #e5e5e5;
    height: 20px;
}

.socialicons {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.socialicons a{
    padding: 8px;
    background-color: #d6d6d6;
    border-radius: 50%;
    display: flex;
    text-decoration: none;
    color: white;
}

.socialicons a:hover {
    background-color: orangered;
}

.line {
    border: 0.5px solid #e5e5e5;
    width: 100%;
  
}

.nbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 50;
}

.logo h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.logo a{
    text-decoration: none;
    color: inherit;
}

.nlinks{
    display: flex;
    align-items: center;
    gap: 50px;
}

.nlinks a,span{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-family: system-ui, sans-serif;
    transition: color 0.3s ease;
}

.nlinks a.active{
    color: orangered;
}

.nlinks a:hover {
  color: orangered;
}

.fa-calendar {
    background-color: orangered;
    padding: 10px;
    border-radius: 200px;
    color: white;
}

.schedule {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding-right: 20px;
    cursor: pointer;
}

.schedule i{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.schedule:hover {
    color: orangered;
}

.imagecontainer {
    position: relative;
    display: inline-block;
}

.imagecontainer img {
    width: 100%;
    display: block;
    height: 320px;
}

.imagecontainer .imagesubtext {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: white;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    border-radius: 10px;
}

.imagecontainer .imagetext {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 52px;
}

.maincontainer {
    margin: 100px 100px;
    display: flex;
    gap: 150px;
}

.lcontainer {
    width: 80%;
}

.lcontainer .limage img{
    width: 100%;
    height: 500px;
}

.lcontainer .lcontentheading {
    margin: 30px 0px;
    font-family: 'Poppins', sans-serif;
}

.lcontainer .lcontentheading span {
    background-color: #FEE9E3;
    padding: 10px;
    border-radius: 5px;
}

.lcontainer .lcontentheading p {
    font-weight: bolder;
    font-size: 20px;
    margin: 20px 0px;
}

.lcontainer .lcontentpara p {
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

.lcontainer .lcontentpara span {
    color: dodgerblue;
    font-weight: bolder;
}
.rcontainer {
    width: 30%;
    height: 10%;
    margin: 10px;
    padding: 20px 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}


.rcontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 30px 0px;
}

.rcontent .rcontenttext p{
    font-weight: bolder;
    padding-bottom: 5px;
}

.rcontainer .rcontenttext span {
    color: #afadad;
}


.bottomcontainer {
    background-color: #f9f9f9;
}

.row1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 100px 100px;
    padding-top: 100px;
}

.leftsubheading {
    color: crimson;
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px 0px;
}

.leftvline {
    border-left: 2px solid crimson;
    height: 20px;
}

.leftmainheading {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.r1rightcontainer .propertiesbutton button{
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    border: 2px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.propertiesbutton button.active {
    background-color: orangered;
    border: 2px solid orangered;
}

.propertiesbutton button:hover {
    background-color: orangered;
    border: 2px solid orangered;
}

.row2 {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0px;
    padding-bottom: 100px;
    display: flex;
    gap: 70px;
    font-family: 'Poppins', sans-serif;
}

.row2 .r2leftcontainer {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 40px;
    width: 30%;
    height: 10%;
}

.row2 .r2leftcontainer .r2content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 20px 0px;
}

.row2 .r2leftcontainer .r2content p {
    font-weight: bolder;
}

.row2 .r2centercontainer{
    width: 60%;
}

.row2 .r2centercontainer img {
    width: 100%;
}

.row2 .r2rightcontainer {
    width: 25%;
}

.row2 .r2rightcontainer .r2her2contentading span {
    font-weight: bolder;
}

.row2 .r2rightcontainer .r2content p {
    margin-top: 30px;
    font-size: small;
    
}

.r2schedule {
    width: 80%;
}

.schedulecontent {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 50px;
}

.schedulecontent i{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.schedulecontent:hover {
    color: orangered;
}

.accordion-button:not(.collapsed) {
  color: orangered;
  background-color: white;
}